body{
    margin: 0 3%;
    font-size: 22px;
    font-family: futura;
    background-color: rgb(49, 75, 69);
    text-align: center;
}

.title-header{
    background-color: rgb(232, 188, 45);
}


.main-content{
    display: flex;
    background-color: rgb(75, 55, 49);
}
.settings-bar{
    float: left;
    width: 25%;
    background-color: rgb(242, 175, 175);
}
.dice-interface{
    float: right;
    width: 100%;
    background-color: rgb(122, 32, 225);
}


.credits-bottom{
    display: block;
    background-color: rgb(106, 232, 56);
}
.validation{
    background-color: rgb(162, 203, 221);
}